/* Write your CSS here */
.app-container {
  width: 100vw;
  min-height: 700px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.home-heading {
  color: white;
  font-size: 48px;
}

.container {
  text-align: center;
  font-family: Bree serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.ipl-logo {
  width: 60px;
  margin-right: 20px;
}
.item-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
